h1{
   color: lightgoldenrodyellow; 
}
      *{
       /* border: solid;*/
        margin: 20px;
        padding: 20px;
    }
  .header{
      background-color: #ff0000
  }  
  .text{
    background-color: #ff4500;
 }
 .mango{
    background-color: #ffff00;
}
.info{
    color: #fafad2;
   flex-wrap: wrap;
   align-content: stretch;
   justify-content: space-evenly;
   background-color: #adff2f;
} 
.linktext{
    background-color: #add8e6;
}
.link:hover a {
  opacity: 1;
}
.link{
    background-color: #0000ff
    }
 .jill {
   color: #800000;
 }   
.link a{
  opacity: 0;
}    
  a{
    color: #808080; 
  }
 .purple{
    color: #fafad2; 
    background-color: #800080;
 }
 