h1{
   color: lightgoldenrodyellow; 
}
      *{
        border: solid;
    }
  .header{
      background-color: red
  }  
  .text{
    background-color: orangered;
 }
 .mango{
    background-color: yellow;
}
.info{
    color: lightgoldenrodyellow;
   flex-wrap: wrap;
   align-content: stretch;
   justify-content: space-evenly;
   background-color: greenyellow;
} 
.linktext{
    background-color: lightblue;
}
  .link{
    background-color: blue
  }
  a{
    color: gray; 
  }
 .purple{
    color: lightgoldenrodyellow; 
    background-color: purple;
 }



